.egg {
  background: #fff200;
  width: 250px;
  height: 300px;
  border: 4px solid #000;
  border-radius: 50%;
  &_gray {
    background: #c3c3c3;
  }
  &_black {
    background: #000;
  }
  &_orange {
    background: #ff7f27;
  }
  &_opacity:hover {
    opacity: 0.5;
  }
}
